/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-very-light-grey: #d4d0d0;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-cadet-blue: #5f9ea0;
  --color-light-cadet-blue: #5f9ea0c9;
  --color-dark-cadet-blue: #1f9ea0;
  --color-apricot: #fa9978;
  --color-olive: #A39334;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-semi-medium: 22px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Animation */
  --animation-duration: 300ms;
  --transition-default: all var(--animation-duration) ease;

  /* Border */
  --border-radius: 5px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Dongle", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

/* header */
header {
  background-color: cadetblue;
  display: flex;
  align-items: flex-start;
}

.header__logo {
  color: var(--color-white);
  padding: 15px;
  padding-bottom: 11px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;  
}

.header__logo:hover .logo__title,
.header__logo:hover .logo__icon{
  color: var(--color-olive);
}

.logo__icon {
  font-size: var(--font-medium);
  padding-bottom: 4px;
  transition: var(--transition-default);
}
.logo__title {
  font-size: var(--font-large);
  padding-left: 10px;
  transition: var(--transition-default);
}

/* register */
#register {
  display: flex;
  margin: 20px 10px;
  height: 40px;
}
.register__input {
  min-width: 300px;
  border-radius: var(--border-radius);
}
.register__btn {
  outline: none;
  width: 80px;
  margin-left: 10px;
  font-size: var(--font-semi-medium);
  background-color: var(--color-olive);
  color: var(--color-white);
  border: 1px solid transparent;
  transition: var(--transition-default);
  cursor: pointer;
  border-radius: var(--border-radius);
  user-select: none;
}

.register__btn:hover {
  color: darkolivegreen;
}

/* boards */
#boards {
  margin: 20px 10px;
}
.boards__btns {
  display: flex;
  justify-content: flex-end;  
  margin-right: 10px;
}
.boards__btns button {
  outline: none;
  width: 40px;
  font-weight: 800;
  font-size: var(--font-medium);
  color: var(--color-olive);
  background-color: white;
  border: none;
  transition: var(--transition-default);
  cursor: pointer;
}
.boards__btns button:hover {
  color: darkolivegreen;
}
.boards__container {
  display: flex;
}

/* board */
.board {
  margin-right: 10px;
  box-shadow: 5px 5px 10px var(--color-light-grey);
  width: 400px;
  height: 100%;
  border-radius: var(--border-radius);
  border: 3px solid transparent;
  transition: var(--transition-default);
}

.board.active {
  border: 3px solid var(--color-dark-grey);
}

.board__header {
  background-color: var(--color-light-cadet-blue);
  color: var(--color-white);
  text-align: center;
  font-size: var(--font-medium);
  transition: var(--transition-default);
  cursor: pointer;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  user-select: none;
}

.board__header:hover {
  color: var(--color-olive);
}

.header__title {
  outline: none;
}

.board__items.dragging .item.empty {
  visibility: visible;
}

.item {
  padding: 10px;
  font-size: var(--font-medium);
  display: flex;
  justify-content: space-between;
  opacity: 1;
  transition: var(--transition-default);
  border: 2px solid var(--color-light-grey);
  border-radius: var(--border-radius);
  margin: 10px;
  cursor: pointer;
}

.item.create {
  opacity: 0;
}

.item.empty {
  visibility: hidden;
  background-color: var(--color-very-light-grey);
  border: none;
  transition: none;
}

.item.empty i{
  visibility: hidden;
}

.item__remove {
  margin: 0px 10px;
  transition: var(--transition-default);
  cursor: pointer;
}

.item__remove:hover {
  color: var(--color-olive);
}

.fa-trash-alt {
  vertical-align: middle;
}
